@media only screen and (max-width: 600px) {
#step-nav-bwh{
    display: none;
}
.step-nav{
    padding: 10 0;
}
.step-layout{
    margin: 0 19;
}
.index{
    margin: 0px 5px;
}
.step-thumbnail > img {
    width: 75%;
}
#desc > img{
    width: 90%;
    justify-content: center;
}
.rate{
    float: right;
}
}
@media only screen and (min-width: 601px) {
    #step-nav-ats{
        display: none;
    }
}